.bold {
font-weight: bold;
}
.italic {
font-style: italic;
}
.underline {
text-decoration: underline;
}
.strike {
text-decoration: line-through;
}
.highlight {
background-color: yellow;
}
.small {
font-size: small;
}